<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>megawin-02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{463,432}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,36},{463,432}}</string>
        <key>sourceSize</key>
        <string>{497,500}</string>
      </dict>
      <key>Mega-03.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,0},{399,129}}</string>
        <key>offset</key>
        <string>{-1,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,27},{399,129}}</string>
        <key>sourceSize</key>
        <string>{497,158}</string>
      </dict>
      <key>win-03.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,0},{297,129}}</string>
        <key>offset</key>
        <string>{-2.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,14},{297,129}}</string>
        <key>sourceSize</key>
        <string>{338,158}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>MegaWin.png</string>
      <key>size</key>
      <string>{1159,432}</string>
      <key>textureFileName</key>
      <string>MegaWin</string>
    </dict>
  </dict>
</plist>
